<table class="table table-bordered">
    <thead>
        <tr>
            
            <th>ID</th>
            <th>type</th>
            <th>Site</th>
            <th>create time</th>
            <th>Diagnosis</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody >
        {% for line in data %}
        <tr id="visit_xray">
            
            <th >{{ line.id }}</th>
            <td>{{ line.Xray_type.Xray_type }}</td>
            <td>{{ line.Xray_Site.Xray_Site }}</td>
            <td>{{ line.ins_user_date |date:'d-m-Y G:i' }}</td>
            <td>{{ line.Xray_Diagnosis }}</td>
            {% if line.xray_status == 'Waiting Reception' %}
            <td class="danger">Waiting Reception</td>
            
            {% elif line.xray_status == 'Waiting Report' %}
            <td class="warning">Waiting Report </td>
            
            <th>
                <small>assign: {{ line.Status_Reception_time |date:'d-m-Y H:m G:i'}}</small>
            </th>
            {% else %}
            <td  >            <button class="btn btn-base" onClick="shoe_rep({{line.id}})">Show Report</button>
            </td>
            {% endif %}

            
        </tr>
        {% endfor %}
    </tbody>
</table>
<dev id="show_report"> </dev>
<dev id="show_report2"> </dev>