{% extends '_base.html' %}
{% block content %}
<style>
    .img-medico-2 {
        background-image: url('/static/assets/images/bg-2.jpg');
    }
</style>
<section class="padding-top-small padding-bottom-small margin-bottom-0">
    <div class="container margin-bottom-0">
        <div class="container-fluid light-bg border-light padding-top-small
            margin-bottom-0 box-shadow-active">
            <div class="row">
                <div class="col-md-6 col-sm-6 masnory-item isotope-item">
                    <div class="row blog">
                        <div class="col-md-12">
                            <div class="blog-text">
                                <h3 class="title text-capitalize
                                    margin-bottom-0">{{data.Patient_No.en_patiant_name}}
                                </h3>
                              
                                <h4 class="title text-capitalize
                                    margin-bottom-0">{{data.Patient_No.ar_patiant_name}}
                                </h4>
                                <ul class="meta-tags">
                                    <li><a>Visit Date: </a><i class="fa
                                            fa-calendar"></i> <a>{{data.Visit_Date |date:'d-m-Y H:m'}}</a></li>
                                    <li>|</li>
                                    <li> <a>Gender: </a><i class="fa fa-user"></i>
                                        <a>{% if data.Patient_No.gender == 1 %} MALE | ذكر {% else %} FEMALE | أنثى {% endif %}</a></li>
                                    <li>|</li>
                                    <li><a>Nationalty: </a><i class="fa
                                            fa-tags"></i>
                                        <a>{{data.Patient_No.country}}</a></li>
                                    <li>|</li>
                                    <li> <a>Birth Date:
                                            {{data.Patient_No.birth_date|date:'d-m-Y'}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>






<section class="padding-top-0 margin-bottom-medium ">
    <div class="container-fluid light-bg border-light padding-top-small margin-bottom-large box-shadow-active ">

        <div class="col-md-12">
            <div class="container margin-bottom-large">
                <div class="tabs-theme base">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-weight-600" role="tablist">
                        <li role="presentation" class="active"><a href="#Nurse_Note" aria-controls="services" role="tab" data-toggle="tab" aria-expanded="true">Nurse Note</a></li>
                        <li role="presentation" class=""><a href="#Vital_Sings" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Vital_Sings</a></li>
                        <li role="presentation" class=""><a href="#Up_Files" aria-controls="counters" role="tab" data-toggle="tab" aria-expanded="false">Upload Files</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Nurse_Note">
                            <div class="clearfix">
                                <div class="col-md-8 service light">
                                    <div>
                                        <h1 class="text-uppercase text-weight-600">Nurse Note List</h1>
                                    <hr>
                                        <table class="table table-striped padding-top-medium box-shadow-active">
                                            <tr class="bg-info">
                                                <th>Titel</th>
                                                <th>Nurse Note</th>
                                                <th>Insert By</th>
                                                <th>Insert Date</th>
                                                <th>Note Files</th>
                                            </tr>
                                            <tbody id="Case_Order_Table">
                                                {% for x in Admission_Nurse_Note %}
                                                <tr>
                                                    
                                                    <td>{{ x.Titel }}</td>
                                                    <td>{{ x.Nurse_Note }}</td>
                                                    <td>{{x.ins_user_code.first_name}}</td>
                                                <td>{{x.ins_user_date |date:'d-m-Y  G:i'}}</td>
                                                    
                                                    <td>
                                                       
                                                        {% if x.Note_Files %}
                                                        <a href="{% url 'Admission:Nurse_Note_Pdf' x.id %}" class="btn btn-base  btn-demo-margin-bottom box-shadow-active" target="_blank">
                                                      Show Files</a>
                                                      {% else %}
                                                      <span class="text-muted"></span>
                                                     {% endif %}
                                                     
                                                      </td> 
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="margin-bottom-medium"></div>
                                    <h3 class="text-uppercase text-weight-600">Add New Nurse Note</h1>
                                    <hr>
                                   <div class="col-md-12">
                                    <Form action="{% url 'Admission:Admission_Order_Nurse_Note_View'%}"  method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="id" maxlength="21" class="form-control" value="{{data.id}}" id="id">
                                        {% csrf_token %} 
                                        {% for field_Note in Nurse_Note_Form %}
                                            <div class="col-md-4col-md-4">
                                                <h4>{{ field_Note.label }}</h4>
                                                <div class="form-group has-success">
                                                    {{ field_Note }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="col text-center">
                                                        <br>
                                                        <br>
                                                        <input type="submit" class="btn btn-success  btn-demo-margin-bottom"
                                                            id="Vital-Signs-btn" value="Save" />
                                                    </div>
                                                </div>
                                        
                                            </div>
                                    </Form>
                                   </div>
    
                                </div>
                                
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Vital_Sings">
                            <div class="clearfix">
                                <div class="col-md-12">
                                    <h1 class="text-uppercase text-weight-600">Patient Vital Sings</h1>
                                    <hr>
                                    <td>{{vital_sings.Blood_pressure}}</td>
                                    <table class="table table-striped margin-bottom-medium">
                                        <tr class="bg-info">
                                            <th>Temp</th>
                                            <th>Blood_pressure</th>
                                            <th>spo2</th>
                                            <th>Resp rate</th>
                                            <th>Insert By</th>
                                            <th>Insert Date</th>
                                            
                                        </tr>
        
                                        <tbody id="Case_History_Table">
                                            {% for x in vital_sings %}
                                            <tr>
                                                <td>{{x.Temp}}</td>
                                                <td>{{x.Blood_pressure}}</td>
                                                <td>{{x.Blood_pressure}}</td>
                                                <td>{{x.Resp_rate}}</td>
                                                <td>{{x.ins_user_code.first_name}}</td>
                                                <td>{{x.ins_user_date |date:'d-m-Y  G:i'}}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="margin-bottom-medium"></div>
                                <h3 class="text-uppercase text-weight-600">Add New Vital Singes</h1>
                                <hr>
                                <div class="row">
                                    
                                    <form action="{% url 'Admission:Patient_Admission_Vital_Signs_View'%}"  method="POST" >
                                        {% csrf_token %}
        
                                        <div class="form-row ">
                                            <input type="hidden" name="id" maxlength="21" class="form-control" value="{{data.id}}" id="id">
                                            <div class="col-md-4" style="margin-right: -110px;">
                                                <label class="control-label">Blood pressure</label>
                                               <div class="row">
                                                <div class="form-group has-success col-md-4" style="margin-right: -10px;">
                                                    <input type="text" name="pressure_1" maxlength="21" class="form-control"  id="pressure_1">
                                                </div>
                                                <div class="form-group has-success col-md-4">
                                                    <h4>/</h4>
                                                </div>
                                                <div class="form-group has-success col-md-4" style="margin-left: -100px ;">
                                                    <input type="text" name="pressure_2" maxlength="21" class="form-control" id="pressure_2">
                                                </div>
                                               </div>
                                            </div>
                                            {% for field in Vital_Signs_Form %}
                                            <div class="col-md-4 col-md-4">
                                                <label class="control-label">{{ field.label }}</label>
                                                <div class="form-group has-success">
                                                    {{ field }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="col text-center">
                                                    <br>
                                                    <br>
                                                    <input type="submit" class="btn btn-success  btn-demo-margin-bottom"
                                                        id="Vital-Signs-btn" value="Save" />
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Up_Files">
                            <div class="clearfix">
                                <div class="col-md-8 text-center">
                                    <h1>Nurse Note</h1>
                                    <Form>
                                        {% csrf_token %} 
                                        {% for field_Note in Nurse_Note_Form %}
                                            <div class="col-md-6 col-md-4">
                                                <label class="control-label">{{ field_Note.label }}</label>
                                                <div class="form-group has-success">
                                                    {{ field_Note }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </Form>
                                    </div>
                                  
                                   
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col text-center">
                                                <br>
                                                <br>
                                                <input type="submit" class="btn btn-success  btn-demo-margin-bottom"
                                                    value="Save" />
                                
                                        </div>
                                
                                    </div>
                                    </Form>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
    

</section>
{% endblock %}