{% extends '_base.html' %}
{% load static %}
{% block content %}


<section class="parallax page-main-heading padding-top-large padding-bottom-large text-white">
    <div class="parallax_child img-medico-2" style="transform: translate3d(0px, -4.98186px, 0px);"></div>
    <div class="container position-relative z-index-2">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h2 class="text-weight-300">{{data.Section_Name}}</h2>
                <h1>{{Patient_Visited_True2}}</h1>
            </div>
            <div class="col-md-4 col-sm-4 text-right breadcrumb-setting">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> zzzzzzzzzz</a></li>
                    <li class="active">Departement {{data.Section_Name}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="overlay dark-5"></div>
</section>

<section class="padding-top-0 margin-bottom-medium ">
    <div class="container-fluid padding-right-large padding-left-large  padding-top-small padding-bottom-small">
        <div class="container padding-bottom-large">
            {% for transfer in Transfer_Patient %}
                               
            <div class="alert alert-warning border-light">
                
                
                <div class="row padding-left-smmall">
                    <div class="col-md6 padding-left-small">
                        <strong>Alert :</strong> New Patient Doctor Transfer To Sction  : <strong>{{Transfer_Patient.Transfer_To_Section.Section_Name }}</strong>    <a href="#transfer_list">Show More</a>
                    </div>
                    
                </div>
                
            </div>
            
                {% endfor %}
        </div>
        
        <div class="tabs-theme base ">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs text-weight-600" role="tablist">
                <li role="presentation" class="active"><a href="#New_Pateiant" aria-controls="services" role="tab"
                        data-toggle="tab" aria-expanded="true">New Pateiant Admission</a></li>
                <li role="presentation" class=""><a href="#Doctor_Order" aria-controls="profile" role="tab"
                        data-toggle="tab" aria-expanded="false">Doctor Order</a></li>
                <li role="presentation" class=""><a href="#Patieint_List" aria-controls="profile" role="tab"
                        data-toggle="tab" aria-expanded="false">Patieint List </a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="New_Pateiant">
                    <div class="clearfix">
                        <div class="col-sm-12">
                            <div class="margin-bottom-medium text-center ">
                                <h1 class="text-weight-500 text-uppercase"> New Pateiant Admission List</h1>
                                <div class="separator"><span class="short-line"></span><i class="fa fa-circle-o"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 text-center base ">
                            <table class="table ">
                                <thead>
                                  <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th class="text-center text-uppercase text-weight-700" scope="col">Patiant_no</th>
                                    <th class="text-center text-uppercase text-weight-600" scope="col">Patiant_name</th>
                                    <th class="text-center text-uppercase text-weight-600" scope="col">Admission</th>
                                    <th class="text-center text-uppercase text-weight-600" scope="col">Clinic_Name</th>
                                    <th class="text-center text-uppercase text-weight-600 " scope="col">By Doctor</th>
                                    <th class="text-center text-uppercase text-weight-600" scope="col">Date</th>
                                    
                                    <th>
                                      action
                                    </th>
                                  </tr>
                                </thead>
              
                                <tbody>
                                  {% for x in Patient_Visited_List %}
                                  
                                  <tr>
                                    <th class="text-center" scope="row">{{ x.id }}</th>
                                    <th class="text-center text-uppercase text-weight-600">{{ x.Patient_No }}</th>
                                    <th class="text-center text-uppercase text-weight-600">
                                      {{ x.Patient_No.en_patiant_name }}
                                      <span class="text-muted">{{ x.Patient_No.ar_patiant_name }}</span>
                                  </th>
                                    <th class="text-center text-uppercase text-weight-600">{{ x.Section.Section_Name }}</th>
                                    <td class="text-center text-uppercase text-weight-600">{{ x.Admission_Case_id.Visit_Case.Clinic_Name }}</td>
                                    <td class="text-center text-uppercase text-weight-600">{{ x.Admission_Case_id.Visit_Case.ins_user_code.first_name }}</td>
                                    <td class="text-center">{{ x.Start_Admission_Of_Section_Date |date:'d-m-Y G:i ' }}</td>
                                    {% if x.Asing_To_Bed_Status == False %}
                                    <td class="text-center">
                                      <button type="button" class="btn btn-primary text-weight-500 btn-block btn-demo-margin-bottom" data-toggle="modal" data-target=".{{ x.id }}-modal">Assgin To Bed</button>
                                  </td>
                                  {% if x.Visit_Transfer == True  %}
                                  <td class="text-center">
                                      <button type="button" class="btn btn-danger text-weight-700 text-uppercase btn-demo-margin-bottom" onClick="Reject_to_Section({{x.id}})" >Reject To Section</button> 
                                  </td>
                                  {% else %}
                                  <td class="text-center">
                                    <button type="button" class="btn btn-danger text-weight-700 text-uppercase btn-demo-margin-bottom" onClick="Reject_to_doctor({{x.Admission_Case_id.id}})" >Reject </button> 
                                   </td>
                                   {% endif %}
                                  {% elif x.Asing_To_Bed_Status == True %}
                                  
                                  <td class="text-center">
                                    <button type="button" class="btn btn-base text-weight-700 text-uppercase btn-demo-margin-bottom" onClick="Patient_Accept({{x.id}})" > Accept Patient  </button>
                                </td>
                                {% endif %}
                                  </tr>
                                  <div class="col-md-4 col-md-4">
                                      <!-- Begin: Small modal -->
                                      <div class="modal {{ x.id }}-modal animate fadeIn" data-animation="fadeIn" tabindex="-1" style="display: none;">
                                          <div class="modal-dialog modal-md" role="document">
                                              <div class="modal-content">
                                                  <div class="modal-body">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4>Assgin {{ x.Patient_No.en_patiant_name }} To Bed</h4>
                                                      
                                                      <div class="form-row ">
                                                          <dev class="row padding-top-small padding-bottom-small">
                                                              <div class="col-md-6 col-md-4">
                                                                  <div class="form-group has-success">
                                                                      <label class="control-label">Select Room Number</label>
                                                                      <select name="gender" class="form-control" required="" id="id_room" name="id_room">
                                                                          {% for room in room_list %}
                                                                          
                                                                          <option id="{{ room.id }}" value="{{ room.Room_Number }}">{{ room.Room_Number }}
                                                                          </option>
                                                                          {% endfor %}
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-6 col-md-4">
                                                                  <div class="form-group has-success">
                                                                  <div id="room_List_bed_dev">
                                                                  </div>
                                                              </div>
                                                          </dev>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-default text-weight-700 text-uppercase" data-dismiss="modal">Close</button>
                                                      <button type="submit " class="btn btn-primary " onClick="Assgin_Pateont_To_Bed({{x.id}})" >submit</button>
                                                  </div>
                                              </div>
              
                                              
                                          </div>
                                      </div>
                                      <!-- End: Small modal -->
                                  </div>
                                  {% endfor %}
                                </tbody>
                              </table>
                              <br>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Doctor_Order">
                    <div class="clearfix">
                        <div class="col-md-3 col-sm-6">

                        </div>
                        <div class="col-md-12 text-left base text-weight-600 ">

                            <div>
                                <h4> Order Case List</h4>
                                <table class="table table-striped padding-top-medium box-shadow-active">
                                    <tr class="bg-info text-uppercase text-weight-600">
                                        
                                        <th>Order Location</th>
                                        <th>Order_Time</th>
                                        <th>Dr_Order</th>
                                        <th>Doctor</th>
                                        <th>Nurse_Note</th>
                                        <th>Nurse_Result_Time</th>
                                        <th>Order_Status</th>
                                    </tr>
                                    <tbody id="Case_Order_Table">
                                        {% for x in Visit_order %}
                                        <tr>
                                          
                                            <td class="base text-weight-600 ">
                                                <dev class="navbar-brand logo"><i class="fa fa-bed margin-left-0">|  <strong class="">{{ x.Admission_visit_Case.ROOM_NO.Room_Number }} {{ x.Admission_visit_Case.BED.Bed_Num }}</strong></i></dev>
                                            </td>
                                            <td>{{ x.ins_user_date |date:'d-m-Y G:i' }}</td>
                                            <td>{{ x.Dr_Order }}</td>
                                            <td>{{ x.ins_user_code.first_name }}</td>
                                            <td>{{ x.Nurse_Note }}</td>
                                            <td>{{ x.Nurse_Result_Time |date:'d-m-Y G:i' }}</td>
                                            <td>{{ x.order_status }}</td>
                                            <td>
                                                {% if x.order_status == True %}
                                                {% if x.Visit_Files %}
                                                <a href="{% url 'Patient_Visits:order_pdf' x.id %}" class="btn btn-base  btn-demo-margin-bottom box-shadow-active" target="_blank">
                                              Show Files</a>
                                              {% else %}
                                              <span class="text-muted"></span>
                                             {% endif %}
                                             {% endif %}
                                              </td> 
    
    
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                               
                            </div>
                            <div>
                                
                              </div>
                            <div class="pagination">
                                <ul class="pagination base">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a href="?page=1">&laquo; first</a></li>
                                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                                        
                                        
                                    {% endif %}
                                    {% for num_pages in page_obj.paginator.page_range %}
                          {% if page_obj.number == num_pages %}
                          <li class="page-item active">
                            <span class="page-link">
                              {{ num_pages }}
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          {% else %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ num_pages }}">{{ num_pages }}</a>
                          </li>
                          {% endif %}
                          {% endfor %}
                                    
                            
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                                    <li class="page-item"><a href="?page={{ page_obj.paginators.num_pages }}">last &raquo;</a></li>

                                        
                                        
                                    {% endif %}
                                </ul>
                               
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="counter-number">
                                <div class="separator"><i class="short-line"></i><i class="fa fa-circle-o"></i><i
                                        class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span
                                        class="short-line"></span></div>

                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Patieint_List">
                    <div class="clearfix">
                        <div class="col-md-12 text-left base text-weight-600 ">

                            <div class="col-sm-12">
                                <div class="margin-bottom-medium text-center ">
                                    <h1 class="text-weight-700 text-uppercase"> Patient List In {{data.Section_Name}}</h1>
                                    <div class="separator"><span class="short-line"></span><i class="fa fa-circle-o"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                {% for in_Bed in Patient_Visited_True %}
                                {% if in_Bed.Accept_OF_Section_Status == True %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="pricing-table light-bg  box-shadow-active border-light base white-bg">
                                        <div class="price-detail">
                                            <div class="price text-white">  <i class="fa fa-bed margin-left-1 margin-top-2">| {{ in_Bed.ROOM_NO.Room_Number }} <strong class="margin-left-medium">{{ in_Bed.BED.Bed_Num }}</strong> </i></div>
                                        </div>
                                        <div class="time"><h2 class="text-weight-700">{{ in_Bed.Patient_No }}</h2></div>
                                        <li class="text-black"><h5 class="text-weight-700">{{ in_Bed.Patient_No.en_patiant_name }}</h5><span  ><h4 class="text-weight-700">{{ in_Bed.Patient_No.ar_patiant_name }}</h4></span></li>
                                        <ul>
                                            <li class="text-black"><a class="text-black text-weight-700">Visited Date: </a> <a class="text-black text-weight-700">{{in_Bed.Accept_OF_Section_Date |date:'d-m-Y H:m'}}</a></li>
                                            <li><div class="separator dark"><i class="short-line"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div></li>
                                            <td>
                                                
                                                <button type="button" class="btn btn-dark transparent text-uppercase" title="Add Vital Sings" data-toggle="modal" data-target=".Vital-Sings-{{in_Bed.id}}"><i class="fa fa-heartbeat"></i></button>
                                                <button type="button" class="btn btn-dark transparent text-uppercase" title="Nurse Note" data-toggle="modal" data-target=".Nurse-Note-{{in_Bed.id}}"><i class="fa fa-file-text-o"></i></button>
                                                
                                                <div class="btn-group ">
                                                    <button class="btn btn-base" type="button">More</button>
                                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-base dropdown-toggle" type="button"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Service 1</a></li>
                                                        <li><a class="btn btn-base  btn-demo-margin-bottom box-shadow-active" href="{% url 'Admission:Patient_Befor_Admission_Nurse_View' in_Bed.id %}">More</a></li>
                                                        <li><a href="#">Service 3</a></li>
                                                        <li class="divider" role="separator"></li>
                                                        <li><a href="#">Service 4</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </ul>
                                    </div>
                                    <div class="modal Vital-Sings-{{in_Bed.id}} animate bounceIn" id="{{in_Bed.id}}"
                                            data-animation="bounceIn" tabindex="-1" style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" id="Patiant_Case_Order"
                                                            data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">×</span></button>
                                                        <h4>Add Vital Sings From :   {{in_Bed.Patient_No.en_patiant_name}}</h4>
                                                        <hr>
                                                        <form id="Patiant_Case_Order_Save">
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal Nurse-Note-{{in_Bed.id}} animate bounceIn" id="{{in_Bed.id}}"
                                            data-animation="bounceIn" tabindex="-1" style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" id="Patiant_Case_Order"
                                                            data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">×</span></button>
                                                        <h4>Add Note From :  {{in_Bed.Patient_No.en_patiant_name}}</h4>
                                                        <hr>
                                                        <form id="Patiant_Case_Order_Save">
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                
                                
                            </div>
                    </div>
                    
                </div>
                
               
            </div>
        </div>
    </div>
    </div>
</section>
<section >
    

    <div class="fullscreen-setting light-bg border-top-light border-bottom-light box-shadow" id="transfer_list">
        <div class="container padding-top-medium padding-bottom-medium">
            <h2 class="text-weight-500 text-uppercase">Transfer List</h2>
            <div class="row text-center">
                <div class="col-md-12">
                    
                    
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-striped padding-top-medium box-shadow-active">
                                <tr class="bg-info text-uppercase text-weight-600">
                                    
                                    <th> Location</th>
                                    <th>Transfer Time</th>
                                    <th>To Section</th>
                                    <th>By Doctor</th>
                                    <th>Transfer Tybe</th>
                                    <th>Action</th>
                                </tr>
                                <tbody id="Case_Order_Table">
                                    {% for Accepted in Transfer_Patient %}
                                    <tr>
                                      
                                        <td class="base text-weight-600 ">
                                            <dev class="navbar-brand logo"><i class="fa fa-bed margin-left-0">|  <strong class="">{{ Accepted.Visit_Section_id.ROOM_NO.Room_Number }} {{ Accepted.Visit_Section_id.BED.Bed_Num }}</strong></i></dev>
                                        </td>
                                        <td>{{ Accepted.Visit_Section_id.Patient_No.en_patiant_name }}
                                            <span class="text-muted">{{ Accepted.Visit_Section_id.Patient_No.ar_patiant_name }}</span></td>
                                        <td>{{ Accepted.Transfer_By_Doctor_Date |date:'d-m-Y G:i' }}</td>
                                        <td>{{ Accepted.Transfer_To_Section.Section_Name }}</td>
                                        <td>{{ Accepted.Transfer_By_Doctor_id }}</td>
                                        <td>{{ Accepted.Transfer_Tybe }}</td>
                                        
                                        <td class="text-center">
                                            <button type="button" class="btn btn-base text-weight-700 text-uppercase btn-demo-margin-bottom" onClick="Patient_Accept_transfer({{Accepted.id}})" > Accept Transfer  </button>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery_3.3.1_jquery.min.js' %}"></script>
<script>
    var id_rom =  10
    $("#id_room").change(function () {
        var room_id = $(this).val();

        
        $.ajax({
            url: "{% url 'Admission:load_Bed' %}",
            data: {
                'room_id': room_id
            },
            success: function (data) {
                $("#room_List_bed_dev").empty();
                $('#room_List_bed_dev').append(data);
                
            },

        });
    });
    

    function Assgin_Pateont_To_Bed(id) {
        var id_room = document.getElementById('id_room').value
        var id_bed = document.getElementById('id_bed').value
        
    console.log(id_room)
    console.log(id_bed)
    $.ajax({
            url: "{% url 'Admission:Assgin_Pateont_To_Bed_view' %}",
            data: {
                'id_room': id_room ,
                'id_bed': id_bed ,
                'id': id ,
            },
            success: function (data) {
                location.reload();
                
            },

        });

}
function Reject_to_doctor(id) {

    $.ajax({
            url: "{% url 'Admission:Reject_to_doctor_view' %}",
            data: {
                'id': id ,
            },
            success: function (data) {
                location.reload();
                
            },

        });

}
function Reject_to_Section(id) {

$.ajax({
        url: "{% url 'Admission:Reject_to_Section_view' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
function Patient_Accept(id) {

$.ajax({
        url: "{% url 'Admission:Patient_Accepted_Section_Status_view' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
function Patient_Accept_transfer(id) {

$.ajax({
        url: "{% url 'Admission:Patient_Accepted_Transfer' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
</script>

{% endblock javascript %}


