{% extends '_base.html' %}


{% block breadcrumb %}




{% endblock %}
{% block content %}
<section class="parallax page-main-heading padding-top-large padding-bottom-large text-white">
    <div class="parallax_child img-medico-1" style="transform: translate3d(0px, -4.98186px, 0px);"></div>
    <div class="container position-relative z-index-2">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h2 class="text-weight-300">{{data.Section_Name}}</h2>
                <h1>{{Patient_Visited_True2}}</h1>
            </div>
            <div class="col-md-4 col-sm-4 text-right breadcrumb-setting">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> zzzzzzzzzz</a></li>
                    <li class="active">Departement {{data.Section_Name}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="overlay dark-5"></div>
</section>



<section>
    <div
        class=" container-fluid padding-top-small padding-right-large padding-left-large padding-bottom-large   light-bg border-light ">

        <div class="separator text-center"><span class="short-line"></span><i class="fa fa-circle-o"></i><i
                class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div>
        <div class="row padding-bottom-small text-center">
            <div class="light-bg col-xs-6 col-sm-4 ">
                <h4 class="text-weight-600 text-uppercase upper-heading text-black"><span
                        class=" text-uppercase upper-heading text-black">Total Pateiant ToDay :
                        {{Nurse_station_Pateiant_count }}</span></h4>
            </div>
            <div class="light-bg col-xs-6 col-sm-4 ">
                <h4 class="text-weight-600 text-uppercase upper-heading text-success"><span
                        class=" text-uppercase upper-heading text-success">Pateiant Vital Signs Susess :
                        {{Vital_Susses}}</span></h4>
            </div>
            <div class="light-bg col-xs-6 col-sm-4 ">
                <h4 class="text-weight-600 text-uppercase upper-heading text-warning"><span
                        class=" text-uppercase upper-heading text-warning ">Pateiant Vital Signs Wating :
                        {{Vital_Wating}}</span></h4>
            </div>
        </div>

        <!-- Optional: clear the XS cols if their content doesn't match in height -->

    </div>
</section>

<section class="padding-top-large margin-bottom-large ">


    <div class="container-fluid padding-right-large padding-left-large  padding-top-small padding-bottom-small">

        <div class="tabs-theme base ">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs text-weight-600" role="tablist">
                <li role="presentation" class="active"><a href="#Vital_Signs" aria-controls="services" role="tab"
                        data-toggle="tab" aria-expanded="true">Vital Signs</a></li>
                <li role="presentation" class=""><a href="#Doctor_Order" aria-controls="profile" role="tab"
                        data-toggle="tab" aria-expanded="false">Doctor Order</a></li>
                <li role="presentation" class=""><a href="#Patieint_Doctor_Admission" aria-controls="profile" role="tab"
                        data-toggle="tab" aria-expanded="false">Nurse Note Patieint Admission </a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Vital_Signs">
                    <div class="clearfix">
                        <div class="col-md-3 col-sm-6">

                        </div>
                        <div class="col-md-12 text-center base ">
                            <table class="table table-bordered text-left text-weight-700" id="Patiant_clinic_er">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Patiant File NO</th>
                                        <th>AR Name</th>
                                        <th>EN Name</th>
                                        <th>ER Clinic</th>
                                        <th>Date Join</th>
                                        <th>Patiant Mode</th>
                                        <th>Vital Status</th>


                                    </tr>
                                </thead>
                                <tbody class="text-weight-600 text-uppercase">
                                    {% for line in data %}
                                   
                                    <tr>
                                        <th>{{ line.id }}</th>
                                        <td><a
                                            href="{{line.get_Patient_Vital_url}}">{{line.Patiant_No}}</a>
                                    </td>
                                        <td>{{ line.Patiant_No.ar_patiant_name }}</td>
                                        <td>{{ line.Patiant_No.en_patiant_name }}</td>
                                        <td>{{ line.Clinic_Name.Clinic_Name }}</td>
                                        <td>{{ line.Visit_Date |date:'d-m-Y G:i' }}</td>
                                        {% if line.is_Transfer == True %}
                                        <td class="warning">{{ line.Visit_Type }}</td>
                                        {% else %}
                                        <td>{{ line.Patiant_Mode }}</td>
                                        {% endif %}
                                        {% if line.Vital_Signs_Status == True %}
                                        <td class="success">Visited</td>
                                        {% else %}
                                        <td class="danger">Wating</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <ul class="pagination base">
                            {% if data.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            {% endif %}
                            {% for page_num in data.paginator.page_range %}
                            {% if data.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ page_num }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if data.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Doctor_Order">
                    <div class="clearfix">
                        <div class="col-md-3 col-sm-6">

                        </div>
                        <div class="col-md-12 text-left base text-weight-600 ">

                            <div>
                                <h4> Order Case List</h4>
                                <table class="table table-striped padding-top-medium ">
                                    <tr class="bg-info">
                                        <th>Order </th>
                                        <th>Order_Time</th>
                                        <th>Dr_Order</th>
                                        <th>Doctor Name</th>
                                        <th>Patiant Name</th>
                                        <th>Nurse_Note</th>
                                        <th>Nurse_Result_Time</th>
                                        <th>Order_Status</th>
                                    </tr>
                                    <tbody id="Case_Order_Table">
                                        {% for x in page_obj %}
                                        <tr>
                                            <th>{{ x.id }}</th>
                                            <th class="text-weight-600">{{ x.ins_user_date |date:'d-m-Y G:i' }}</th>
                                            <th class="text-weight-600">{{ x.Dr_Order }}</th>
                                            <th class="text-weight-600">{{ x.ins_user_code.first_name }}</th>
                                            <th>{{ x.patiant_no.en_patiant_name }}<br>
                                                <span class="text-muted">{{ x.patiant_no.ar_patiant_name }}</span>
                                            </th>
                                            <th>{{ x.Nurse_Note }}</th>
                                            <th>{{ x.Nurse_Result_Time |date:'d-m-Y H:m' }}</th>

                                            <td>
                                                {% if x.order_status == False %}
                                                <button type="button"
                                                    class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                                                    data-toggle="modal"
                                                    data-target=".Visit-Order-modal-{{ x.id }}">Update Order </button>
                                                {% endif %}
                                                {% if x.Visit_Files %}
                                                <a href="{% url 'Nurse:order_pdf' x.id %}"
                                                    class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                                                    target="_blank">
                                                    Show Files</a>
                                                {% else %}
                                                <span class="text-muted"></span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <div class="modal Visit-Order-modal-{{ x.id }} animate bounceIn"
                                            id="Visit-Order-modal" data-animation="bounceIn" tabindex="-1"
                                            style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" id="Patiant_Case_Order"
                                                            data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">×</span></button>
                                                        <h4>{{ x.id }}</h4>
                                                        <hr>
                                                        <div>
                                                            <form action="{% url 'Nurse:Nurse_station_Patiant_Order_update' x.id %}" method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                {% for field in Nurse_Order_Form %}
                                                                <div class="form-row ">
                                                                    
                                                                    <div class="col-md-12 col-md-12">
                                                                        <label class="control-label">{{ field.label }}</label>
                                                                        <div class="form-group has-success">
                                                                            {{ field }}
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                {% endfor %}
                                                                <button type="submit" class="btn btn-primary" id="liveToastBtn">submit</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div>

                            </div>
                            <div class="pagination">
                                <ul class="pagination base">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a href="?page=1">&laquo; first</a></li>
                                    <li class="page-item"><a
                                            href="?page={{ page_obj.previous_page_number }}">previous</a></li>


                                    {% endif %}
                                    {% for num_pages in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num_pages %}
                                    <li class="page-item active">
                                        <span class="page-link">
                                            {{ num_pages }}
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num_pages }}">{{ num_pages }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}


                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                                    <li class="page-item"><a href="?page={{ page_obj.paginators.num_pages }}">last
                                            &raquo;</a></li>



                                    {% endif %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="counter-number">
                                <div class="separator"><i class="short-line"></i><i class="fa fa-circle-o"></i><i
                                        class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span
                                        class="short-line"></span></div>

                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Patieint_Doctor_Admission">
                    <div class="clearfix">
                        <div class="col-md-12 text-left base text-weight-600 ">

                            <div>
                                <h4> Admission List</h4>
                                <table class="table table-striped padding-top-medium ">
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th class="text-center" scope="col">Patiant_no</th>
                                        <th class="text-center" scope="col">Patiant_name</th>
                                        <th class="text-center" scope="col">Clinic_Name</th>
                                        <th class="text-center" scope="col">By Doctor</th>
                                        <th class="text-center" scope="col">Date</th>
                                        <th class="text-center" scope="col">Admission Section</th>
                                        <th class="text-center" scope="col">Status</th>

                                        <th>
                                            action
                                        </th>
                                    </tr>
                                    <tbody id="Case_Order_Table text-weight-600">
                                        {% for data in Patient_Visited_List %}
                                        <tr>
                                            <th class="text-center text-weight-600" scope="row">{{ data.id }}</th>
                                            <th class="text-center">{{ data.Patient_No }}</th>
                                            <th class="text-center">
                                                {{ data.Patient_No.en_patiant_name }}
                                                <span class="text-muted">{{ data.Patient_No.ar_patiant_name }}</span>
                                            </th>
                                            <td class="text-center">{{ data.Admission_Case_id.Visit_Case.Clinic_Name }}
                                            </td>
                                            <td class="text-center">{{ data.Admission_Case_id.ins_user_code.first_name }}</td>
                                            <td class="text-center">{{ data.Start_Admission_Of_Section_Date |date:'d-m-Y G:i' }}</td>
                                            <th class="text-center">{{ data.Section.Section_Name }}</th>
                                            {% if data.Asing_To_Bed_Status == True %}
                                            <td class="base text-weight-600 ">
                                                <dev class="navbar-brand logo"><i class="fa fa-bed margin-left-0">|
                                                        <strong class="">{{ data.ROOM_NO.Room_Number }} {{ data.BED.Bed_Num }}</strong></i></dev>
                                            </td>
                                            {% else %}
                                            <td class="danger text-center ">Wating</td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                                                    href="{% url 'Admission:Patient_Befor_Admission_Nurse_View' data.id %}">More</a>

                                            </td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}