<section class="parallax text-white base-bg border-light">
    <div class="parallax_child img-medico-2" style="transform: translate3d(0px, -129.637px, 0px);"></div>
    <div class="container position-relative z-index-2">
        <div class="row custom-5-column margin-top-large">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-users text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small" data-from="0" data-to="{{Patiant_Count}}" data-speed="1500">{{Patiant_Count}}</div>
                    <p class="text-capitalize text-black text-spacing-1">Patients</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-bed text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small" data-from="0" data-to="{{Bed_Count}}" data-speed="1500">{{Bed_Count}}</div>
                    <p class="text-capitalize text-black text-spacing-1">Patients Admission</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-user-md text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small" data-from="0" data-to="{{User_Count}}" data-speed="1500">{{User_Count}}</div>
                    <p class="text-capitalize text-black text-spacing-1">Doctors</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-hospital-o text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small" data-from="0" data-to="{{Room_Count}}" data-speed="1500">{{Room_Count}}</div>
                    <p class="text-capitalize text-black text-spacing-1">Rooms</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="counter-number">
                    <i class="fa fa-ambulance text-base text-size-60px"></i>
                    <div class="counternumber text-weight-400 text-size-xsmall margin-top-small margin-bottom-small" data-from="0" data-to="{{Reception_Count}}" data-speed="1500">{{Reception_Count}}</div>
                    <p class="text-capitalize text-black text-spacing-1">ER Visit</p>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay dark-6"></div>
</section>