{% extends '_base.html' %}

{% block breadcrumb %}



<section class="page-main-heading padding-top-0 padding-bottom-0">
    <div class="container">

    </div>
</section>
{% endblock %}
{% block content %}
<section class="padding-top-large padding-bottom-small">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 padding-bottom-medium">
                <h1 class="page-header text-weight-300">Edit Profile</h1>
               
                <form method="POST">



                    <div class="row">
                        {% csrf_token %}

                        <div class="form-row ">
                            {% for field in Visit_Order_Form %}
                            <div class="col-md-6 col-md-4">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="form-group has-success">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group has-success">
                            <input type="hidden" name="visit_Order_id" maxlength="120" class="form-control"
                                id="visit_Order_id" value="{{data.id}}">
                        </div>
                        <div class="form-group has-success">
                            <input type="hidden" name="patiant_no" maxlength="120" class="form-control" id="patiant_no"
                                value="{{data.patiant_no}}">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col text-center">
                                    <br>
                                    <br>
                                    <input type="submit" class="btn btn-success  btn-demo-margin-bottom" value="Save" />
                                </div>
                            </div>

                        </div>
                    </div>

            
                <button type="submit" value="Submit" name="submit"
                class="btn btn-base btn-lg text-weight-600 text-uppercase box-shadow-active">Submit</button>
            </form>

            <script async="" src="https://www.google-analytics.com/analytics.js"></script>

            <!-- End: FORM -->

        </div>

    </div>
    </div>
</section>
{% endblock %}