<div class="row">
    {% csrf_token %}
    {% for field in Nurse_Note_Form %}
    <div class="col-md-6 col-sm-6 masnory-item isotope-item">
        <label class="control-label">{{ field.label }}</label>
        <div class="form-group has-success">
            {{ field }}
        </div>
    </div>
    {% endfor %}
   
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="col text-center">
                <br>
                <br>
                <input type="submit" class="btn btn-success  btn-demo-margin-bottom"
                    value="Save" />

        </div>

    </div>
</div>