                 <!-- Begin: WIDGET -->
                 <div class="widget">
                    <!-- #Start History -->
                    <div class="panel-group accordion dark" id="accordionDark" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordionDark" href="#test1" aria-expanded="false" class="collapsed">
                                    
                                        Fully Customizable Layout
                                    </a>
                                </h4>
                            </div>
                            <div id="test1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 service text-center light">
                                            <a href="#">
                                                <div class="service-icon">
                                                    <i class="fa fa-code"></i>
                                                </div>
                                            </a>
                                            <div class="service-text">
                                                <h4 class="text-uppercase text-weight-600"><a href="#">clean coding</a></h4>
                                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #Start History -->

                                            <!-- #Start order -->
                                            <div class="panel-group accordion dark" id="accordionDark" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordionDark" href="#Visit_Order" aria-expanded="false" class="collapsed">
                                                            
                                                                Fully Customizable Layout
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="Visit_Order" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12 service text-center light">
                                                                    <a href="#">
                                                                        <div class="service-icon">
                                                                            <i class="fa fa-code"></i>
                                                                        </div>
                                                                    </a>
                                                                    <div class="service-text">
                                                                        <h4 class="text-uppercase text-weight-600"><a href="#">clean coding</a></h4>
                                                                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- #Start order -->
            </div>
            <!-- End: WIDGET -->