<script>
  function Last_Patiant_24H() {
    $.ajax({
      url: "{% url 'Patient_Visit:Last_Patiant_24H' %}",
      success: function (data) {
        $('#Patiant_24H').html(data);
      }
    });
  }
 
  //
  //patiant_search_input



  document
    .getElementById("id_ar_patiant_name")
    .addEventListener("change", function () {
      var ar_name = $(this).val();
      // create an AJAX call
      $.ajax({
        data: {
          ar_name: ar_name,
        },
        url: "{% url 'Patient_Files:ar_convert' %}",
        // on success
        success: function (response) {
          document.getElementById("id_en_patiant_name").value = (response.en_txt)
        },
        // on error
        error: function (response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors);
        },
      });

      return false;
    });




  function Cheack_Visit(id) {

  }

  //patiant create new file

  $("#Create_new_FILE").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var formData = new $("#Create_new_FILE").serialize();
    // make POST ajax call
    $.ajax({
      type: 'POST',
      url: "{% url 'Patient_Files:Create_new_FILE' %}",
      data: formData,
      success: function (response) {

        document.getElementById("id_patiant_no_form").value = (response.pateiant_no)
        document.getElementById("add_new_Patiant_file").style.visibility = "visible";
        document.getElementById("create_patiant_file").disabled = true;

      },
      error: function (response) {
        // alert the error if any error occured
        alert(response["responseJSON"]["error"]);
      }

    })

  })

  //patiant send to clinic

  $("#Send_Pateiant_To_Clinic").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var formData = new $("#Send_Pateiant_To_Clinic").serialize();
    // make POST ajax call
    $.ajax({
      type: 'POST',
      url: "{% url 'Patient_Visit:Send_Pateiant_To_Clinic' %}",
      data: formData,
      success: function (response) {
        $("#Send_Pateiant_To_Clinic").trigger('reset');
        Last_Patiant_24H()
      },
      error: function (response) {
        // alert the error if any error occured
        Last_Patiant_24H()
      }

    })

  })



  window.onload = function () {
    document.getElementById("id_patiant_no_form").required = false
    document.getElementById("id_patiant_no_form").disabled = true
    document.getElementById("clinic_reception").disabled = true
    document.getElementById("add_new_Patiant_file").style.visibility = "hidden";
    $("#Create_new_FILE").trigger('reset');
    Last_Patiant_24H()

  }



  function add_new_patiant_file() {
    document.getElementById("add_new_Patiant_file").style.visibility = "hidden";
    document.getElementById("create_patiant_file").disabled = false;
    $("#Create_new_FILE").trigger('reset');
  }

</script>
<script>

</script>