


<div class="row">
    {% csrf_token %}
    {% for field in Xray_Form %}
    <div class="col-md-6 col-sm-6 masnory-item isotope-item">
        <label class="control-label">{{ field.label }}</label>
        <div class="form-group has-success">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="col-md-4 col-md-2">
        <div class="form-group has-success">
            <input type="hidden" name="visit_xray_id" maxlength="120" class="form-control"
                id="visit_xray_id" value="{{data.id}}">
        </div>
    </div>

    <div class="col-md-4     col-md-2">
        <div class="form-group has-success">
            <input type="hidden" name="patiant_no" maxlength="120" class="form-control"
                id="patiant_no" value="{{data.patiant_no}}">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="col text-center">
                <br>
                <br>
                <input type="submit" class="btn btn-success  btn-demo-margin-bottom"
                    value="Save" />

        </div>

    </div>
</div>