{% extends '_base.html' %}

{%block title%}DecentWEB HIS Support {%endblock%}
<br>
<div class="container">

  {% block nav2 %}
  <nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">
  
        <ul class="navbar-nav w-100 justify-content-center px-3">
         
            <li class="nav-item active">
              {{rep.hospital_Name}}
                <a class="nav-link" href="#">{{rep}}</a>
            </li>
        
        </ul>
    </div>
  </nav>
      {% endblock %}
  
</div>

{% block breadcrumb %}
    <li class="breadcrumb-item active">DecentWEB HIS</li>
{%endblock%}


{% block content %}
<div class="alert alert-{{ message.tags }}">
  {% for rep in rep%}
  {% if rep.hospital_Name == None %}
  <div class="alert alert-danger">  User Is Not Activate , Please Call HelpDesk </div>
  {% else %}
  
  {% endif %}
  {% endfor %}
</div>
<div class="container">
    {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
              </div>
            {% endfor %}
     {% else %}
     <div class="mb-4">
      <a href="{% url 'concatapp:new' %}" class="btn btn-primary">New message</a>
  </div>
    {% endif %}
    
  </div>


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        
        <th>message</th>
        <th>Date</th>
        <th>image</th>
        <th>Status</th>
        
    </tr>
    </thead>
    <tbody>
    {%for x in subject%}
    <tr>
        <td>{{ x.id}}</td>
        
        <td>{{x.message}}</td>
        <td>{{x.created_dt}}</td>
        <td style="width:10%;max-width:100px">
            {% if x.image %}    
            <a  href="#">
                <img class="modal_image" src="{{ x.image.url }}" alt="{{x.subject}}"style="max-width:100px" >
            </a>
{% endif %}

        </td>
       
        <td>      
          <small class="text-muted d-block">
            <br>
            {% with post=x.get_last_post%}   
            {%for xx in post%}
            Last Replay By: <a class="text-info">{{xx.Replay_user}}</a><br>
            OF Date : <a class="text-info">{{xx.Replay_dt}}</a><br>
            messages : <p class="text-danger">{{xx.message}}</p><br>
            {%endfor%}
          {%endwith%}
          </small>
          <a class="btn btn-primary btn-sm" href="{% url 'concatapp:Replay' x.Titel.id %}">Add Replay</a>

        </td>
        <td>
          
          <small>
            {% with post=x.get_last_post%}
            {%for xx in post%}
            by {{xx.Replay_user}}
            {%endfor%}
          {%endwith%}
          </small>
          
      </td>
        {%endfor%}
    </tr>
    

    </tbody>
</table>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
var modal = document.getElementById('myModal');
// Get the image and insert it inside the modal - use its "alt" text as a cap
var img = document.getElementsByClassName('modal_image');
for(var i=0; i<img.length; i++){
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img[i].addEventListener('click',function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
})
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
</script>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.5;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }
    
    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
    
    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
    </style>
    </head>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
    
{%endblock%}



    