{% extends '_base.html' %}
{% load static %}



{% block breadcrumb %}



{% endblock %}
{%block PageTop%}

    
<section class="parallax page-main-heading fullscreen margin-top-medium text-white">
    <div class="parallax_child img-medico-1" style="transform: translate3d(0px, -4.98186px, 0px);"></div>
    <div class="container position-relative z-index-2">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h2 class="text-weight-300">{{data.Section_Name}}</h2>
                <h1>{{Patient_Visited_True2}}</h1>
            </div>
            <div class="col-md-4 col-sm-4 text-right breadcrumb-setting">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Ward /</a></li>
                    <li class="active">Departement {{data.Section_Name}}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="overlay dark-5"></div>
</section>
<section class="padding-top-small padding-bottom-small light-bg border-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="parallax margin-bottom-small">
                    <div class="parallax_child img-shop-1" style="transform: translate3d(0px, -5.78224px, 0px);"></div>
                    <div class="text-white position-relative z-index-2 padding-top-medium padding-bottom-medium padding-left-medium padding-right-medium">
                        <h2 class="text-capitalize text-weight-600 margin-bottom-xsmall">Patient List</h2>
                        <p class="margin-bottom-small text-black">Total : </p>
                        <a href="#Patient_List" class="btn btn-default transparent border-radius-20">View More</a>
                    </div>
                    <div class="overlay blue"></div>
                </div>
            </div>
           
           
        </div>
    </div>
</section>
{% endblock PageTop%}
{% block content %}

<section class="box-shadow-active">
    <div class="container" id="Patient_List">
        <div class="row">
            <div class="col-sm-12">
                <div class="margin-bottom-medium text-center ">
                    <h1 class="text-weight-700 text-uppercase"> Patient List In {{data.Section_Name}}</h1>
                    <div class="separator"><span class="short-line"></span><i class="fa fa-circle-o"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="row">
                {% for in_Bed in Patient_Visited_True %}
                {% if in_Bed.Accept_OF_Section_Status == True %}
                <div class="col-md-3 col-sm-6">
                    <div class="pricing-table light-bg box-shadow-hover border-light base">
                        <div class="price-detail">
                            <div class="price text-white">  <i class="fa fa-bed margin-left-1 margin-top-2">| {{ in_Bed.ROOM_NO.Room_Number }} <strong class="margin-left-medium">{{ in_Bed.BED.Bed_Num }}</strong> </i></div>
                        </div>
                        <div class="time"><h2 class="text-weight-700">{{ in_Bed.Patient_No }}</h2></div>
                        <li class="text-black"><h5 class="text-weight-700">{{ in_Bed.Patient_No.en_patiant_name }}</h5><span  ><h4 class="text-weight-700">{{ in_Bed.Patient_No.ar_patiant_name }}</h4></span></li>
                        <ul>
                            <li class="text-black"><a class="text-black text-weight-700">Visited Date: </a> <a class="text-black text-weight-700">{{in_Bed.Accept_OF_Section_Date |date:'d-m-Y H:m'}}</a></li>
                            <li><div class="separator dark"><i class="short-line"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><span class="short-line"></span></div></li>
                            <td>
                                
                                <li><a class="btn btn-base  btn-demo-margin-bottom box-shadow-active" href="{% url 'Admission:Patient_Befor_Admission_Nurse_View' in_Bed.id %}">More</a></li>
                                
                                
                            </td>
                        </ul>
                    </div>
                    <div class="modal Vital-Sings-{{in_Bed.id}} animate bounceIn" id="{{in_Bed.id}}"
                            data-animation="bounceIn" tabindex="-1" style="display: none;">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" id="Patiant_Case_Order"
                                            data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                        <h4>Add Vital Sings From :   {{in_Bed.Patient_No.en_patiant_name}}</h4>
                                        <hr>
                                        <form id="Patiant_Case_Order_Save">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal Nurse-Note-{{in_Bed.id}} animate bounceIn" id="{{in_Bed.id}}"
                            data-animation="bounceIn" tabindex="-1" style="display: none;">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" id="Patiant_Case_Order"
                                            data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                        <h4>Add Note From :  {{in_Bed.Patient_No.en_patiant_name}}</h4>
                                        <hr>
                                        <form id="Patiant_Case_Order_Save">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                {% endif %}
                {% endfor %}
                
                
            </div>
        </div>
    </div>
</section>

<section>
    
</section>
<section>
    <div class="col-md-12 text-center base ">
        <table class="table ">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center text-uppercase text-weight-700" scope="col">Patiant_no</th>
                    <th class="text-center text-uppercase text-weight-600" scope="col">Patiant_name</th>
                    <th class="text-center text-uppercase text-weight-600" scope="col">Admission</th>
                    <th class="text-center text-uppercase text-weight-600" scope="col">Clinic_Name</th>
                    <th class="text-center text-uppercase text-weight-600 " scope="col">By Doctor</th>
                    <th class="text-center text-uppercase text-weight-600" scope="col">Date</th>

                    <th>
                        action
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for x in Patient_Visited_List %}

                <tr>
                    <th class="text-center" scope="row">{{ x.id }}</th>
                    <th class="text-center text-uppercase text-weight-600">{{ x.Patient_No }}</th>
                    <th class="text-center text-uppercase text-weight-600">
                        {{ x.Patient_No.en_patiant_name }}
                        <span class="text-muted">{{ x.Patient_No.ar_patiant_name }}</span>
                    </th>
                    <th class="text-center text-uppercase text-weight-600">{{ x.Section.Section_Name }}</th>
                    <td class="text-center text-uppercase text-weight-600">{{ x.Admission_Case_id.Visit_Case.Clinic_Name }}</td>
                    <td class="text-center text-uppercase text-weight-600">{{ x.Admission_Case_id.Visit_Case.ins_user_code.first_name }}</td>
                    <td class="text-center">{{ x.Start_Admission_Of_Section_Date |date:'d-m-Y G:i ' }}</td>
                    {% if x.Asing_To_Bed_Status == False %}
                    <td class="text-center">
                         <!-- Begin: Assgin To Bed -->
                         {% include 'addmission/Home/Nurse/Assgin_To_Bed.html' %}

                         <!-- End: Assgin To Bed -->
                    </td>
                    {% if x.Visit_Transfer == False %}
                    <td class="text-center">
                        <button type="button"
                            class="btn btn-danger text-weight-700 text-uppercase btn-demo-margin-bottom"
                            onClick="Reject_to_Section({{x.id}})">Reject To Section</button>
                    </td>
                    {% else %}
                    <td class="text-center">
                       
                        <button type="button"
                            class="btn btn-danger text-weight-700 text-uppercase btn-demo-margin-bottom"
                            onClick="Reject_to_doctor({{x.Admission_Case_id.id}})">Reject {{x.Admission_Case_id.id}}  </button>
                    </td>
                    {% endif %}
                    {% elif x.Asing_To_Bed_Status == True %}

                    <td class="text-center">
                        <button type="button" class="btn btn-base text-weight-700 text-uppercase btn-demo-margin-bottom"
                            onClick="Patient_Accept({{x.id}})"> Accept Patient </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</section>
<section>
    <div class="container-fluid padding-left-large padding-right-large padding-bottom-large">

    
    <h4> Order Case List</h4>
    <table class="table table-striped padding-top-medium ">
        <tr class="bg-info">
            <th>Order </th>
            <th>Order_Time</th>
            <th>Dr_Order</th>
            <th>Doctor Name</th>
            <th>Patiant Name</th>
            <th>Nurse_Note</th>
            <th>Nurse_Result_Time</th>
            <th>Order_Status</th>
        </tr>
        <tbody id="Case_Order_Table">
            {% for x in Visit_order %}
            <tr>
                <th>{{ x.id }}</th>
                <th class="text-weight-600">{{ x.ins_user_date |date:'d-m-Y G:i' }}</th>
                <th class="text-weight-600">{{ x.Dr_Order }}</th>
                <th class="text-weight-600">{{ x.ins_user_code.first_name }}</th>
                <th>{{ x.patiant_no.en_patiant_name }}<br>
                    <span class="text-muted">{{ x.patiant_no.ar_patiant_name }}</span>
                </th>
                <th>{{ x.Nurse_Note }}</th>
                <th>{{ x.Nurse_Result_Time |date:'d-m-Y H:m' }}</th>

                <td>
                    {% if x.order_status == False %}
                    <button type="button"
                        class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                        data-toggle="modal"
                        data-target=".Visit-Order-modal-{{ x.id }}">Update Order </button>
                    {% endif %}
                    {% if x.Visit_Files %}
                    <a href="{% url 'Nurse:Nurse_Admission_order_pdf' x.id %}"
                        class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                        target="_blank">
                        Show Files</a>
                    {% else %}
                    <span class="text-muted"></span>
                    {% endif %}
                </td>
            </tr>
            <div class="modal Visit-Order-modal-{{ x.id }} animate bounceIn"
                id="Visit-Order-modal" data-animation="bounceIn" tabindex="-1"
                style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" id="Patiant_Case_Order"
                                data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4>{{ x.id }}</h4>
                            <hr>
                            <div>
                                <form action="{% url 'Admission:Nurse_Admission_Order_update' x.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="text" name="Sec_id" maxlength="21" class="form-control" value="{{data.id}}" id="id">
                                    {% for field in Patiant_Admission_Ruuselt_Order_Form %}
                                    <div class="form-row ">
                                        
                                        <div class="col-md-12 col-md-12">
                                            <label class="control-label">{{ field.label }}</label>
                                            <div class="form-group has-success">
                                                {{ field }}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary" id="liveToastBtn">submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}








{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/jquery_3.3.1_jquery.min.js' %}"></script>
<script>
    var id_rom =  10
    $("#id_room").change(function () {
        var room_id = $(this).val();

        
        $.ajax({
            url: "{% url 'Admission:load_Bed' %}",
            data: {
                'room_id': room_id
            },
            success: function (data) {
                $("#bed_list_selected").empty();
                $('#bed_list_selected').append(data);
                
            },

        });
    });
    

    function Assgin_Pateont_To_Bed(id) {
        var id_room = document.getElementById('id_room').value
        var id_bed = document.getElementById('id_bed').value
        
    console.log(id_room)
    console.log(id_bed)
    $.ajax({
            url: "{% url 'Admission:Assgin_Pateont_To_Bed_view' %}",
            data: {
                'id_room': id_room ,
                'id_bed': id_bed ,
                'id': id ,
            },
            success: function (data) {
                location.reload();
                
            },

        });

}
function Reject_to_doctor(admission_id) {

    $.ajax({
            url: "{% url 'Admission:Reject_to_doctor_view' %}",
            data: {
                
                'admission_id':admission_id ,
            },
            success: function (data) {
                location.reload();
                
            },

        });

}
function Reject_to_Section(id) {

$.ajax({
        url: "{% url 'Admission:Reject_to_Section_view' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
function Patient_Accept(id) {

$.ajax({
        url: "{% url 'Admission:Patient_Accepted_Section_Status_view' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
function Patient_Accept_transfer(id) {

$.ajax({
        url: "{% url 'Admission:Patient_Accepted_Transfer' %}",
        data: {
            'id': id ,
        },
        success: function (data) {
            location.reload();
            
        },

    });

}
</script>

{% endblock javascript %}


