<div class="clearfix">
    <div class="col-md-12 service light">
        <div class="col-md-2 col-sm-4">
            <button type="button"
                class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                data-toggle="modal" data-target=".Visit-Order-modal">Add Order </button>
            <div class="modal Visit-Order-modal animate fadeIn" id="Visit-Order-modal"
                data-animation="fadeIn" tabindex="-1" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close"
                                id="Patiant_Case_Order_close" data-dismiss="modal"
                                aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4>New Order</h4>
                            <hr>
                            <form action="{% url 'Admission:Patient_Admission_Doctor_Order_View' %}"  method="POST" enctype="multipart/form-data">
                                {% include 'addmission/Home/Doctor/Patient_Admission_Case/Forms/order-form.html' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="Case_Order_Table">
    <h4> Order Case List</h4>
    <table class="table table-striped padding-top-medium box-shadow-active">
        <tr class="bg-info">
            <th>Order No</th>
            <th>Order_Time</th>
            <th>Dr_Order</th>
            <th>Doctor</th>
            <th>Nurse_Note</th>
            <th>Nurse_Result_Time</th>
            <th>Order_Status</th>
        </tr>
        <tbody>
            {% for x in Visit_order %}
            <tr>
                <th>{{ x.id }}</th>
                <td>{{ x.ins_user_date |date:'d-m-Y G:i' }}</td>
                <td>{{ x.Dr_Order }}</td>
                <td>{{ x.ins_user_code.first_name }}</td>
                <td>{{ x.Nurse_Note }}</td>
                <td>{{ x.Nurse_Result_Time |date:'d-m-Y G:i' }}</td>
                <td>{{ x.order_status }}</td>
                <td>
                    {% if x.order_status == True %}
                    {% if x.Visit_Files %}
                    <a href="#"
                        class="btn btn-base  btn-demo-margin-bottom box-shadow-active"
                        target="_blank">
                        Show Files</a>
                    {% else %}
                    <span class="text-muted"></span>
                    {% endif %}
                    {% endif %}
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>