{% block content %}

<section class="light-bg">

    <div class="container-fluid">
        <div class="row">
            <!-- Begin: SIDEBAR -->


            <!-- End: SIDEBAR -->
            <dev class="container border">
                <div class="col-md-9 ">
                    <div class="page-content ">
                        {% include 'Radiology\Case_visit_tab.html' %}
                    </div>
                </div>
            </dev>

        </div>
    </div>
</section>

{% endblock %}
